body {
   background-color: gainsboro;
   background-image: url("https://images.paramount.tech/uri/mgid:arc:imageassetref:mtv.com:d2906a58-a278-499a-af13-93a44e50f404?format=webp");
}

.navBar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    background-color: black;    
}

.iconContainer {
    max-height: 50px;
    max-width: 50px;
    background-color: black;
    display: flex; 
    justify-content: left;
    margin-top: 10px;
    margin-left: 10px;
}

.menuButton {
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    
}

.myButton {
    height: 50px;
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-color: yellow;
    border-radius: 5px; 
    margin-top: 10px; 
}

.qButton {
    height: 50px;
    background-color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    border-color: gainsboro;
    border-radius: 5px; 
    margin-top: 10px; 
}


.imageContainer {
    background-image: url("https://images.paramount.tech/uri/mgid:arc:imageassetref:ws.mtv.com:4fb50c45-dcfe-424b-a981-8c95900f1031?quality=0.7&gen=ntrn&format=webp&width=980"); 
    background-size: 70vw;
    background-repeat: no-repeat;
    color: white;
    margin: 30px;
    padding: 20px;
}

.centerButton {
    display: flex;
    justify-content: left;
    margin: 30px;
}

.episodeContainer {
    height: auto;
    color: white;
    display: block;
    justify-content: left;
}

.linkContainer {
    display: flex;
    margin: 10px 20px;
}

.videoLink {
    /* border: 2px solid white; */
    margin-right: 20px;
    padding: 20px;
}

.newParamaunt {
    display: flex;
    color: white;
    margin: 20px;
    padding: 30px;
    justify-content: space-around;
} 